@model Proje.Models.Salon_Tablosu
@{
    ViewBag.Title = "salonEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("salonEkle", "Salon_", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">SALON ADI</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(Model => Model.SalonAdi, new { @class = "form-control", @Placeholder = "Salon Adını Giriniz" })
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">SALON AÇIKLAMA</label>
        <div class="col-sm-10">
            @Html.TextAreaFor(Model => Model.SalonAciklama, new { @class = "form-control", @Placeholder = "Salon Açıklama Giriniz", @rows = "7" })
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">SALON KAPASİTE</label>
        <div class="col-sm-10">
            @Html.TextAreaFor(Model => Model.SalonKapasite, new { @class = "form-control", @Placeholder = "Salon Kapasite Giriniz" })
        </div>
    </div>
    <div class="form-group">
        <div class="card-footer">
            <button type="submit" name="button" class="btn btn-primary float-right" style="width:200px">Ekle</button>

        </div>
    </div>}

